body{
    font-family: Arial, Helvetica, sans-serif;
}
*{
    box-sizing: border-box;
}
.header{
    text-transform: uppercase;
    text-align: center;
    color: #339AF0;
}
.list-items{
    padding-bottom: 17px;
}
.colored{
    background: linear-gradient(lightblue, white);
    cursor: pointer;
    padding: 7px 10px;
    border-radius: 4px;
    color: #339AF0;
    font-weight: bold;
}
.weather-data{
    display: flex;
    align-items: center;
    padding-top: 20px;
}
.list-data{
    flex-basis: 50%;
    margin-right: 20px;
}
.list{
    list-style-type: none;
    text-align: right;
}
.weather-widget{
    flex-basis: 50%;
    margin-left: 20px;
}
.widget{
    background-image: url("background-image.jpg");
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    width: 40%;
    box-shadow: 1px 3px 12px -1px rgba(0,0,0,0.75);
    color: white;
    font-weight: bold;
}
.widget:hover{
    transform: scale(1.1);
    transition: ease 0.6s;
}
.widget-content{
    margin-left: 20px;
}
.day{
    font-size: 30px; 
    padding-top: 30px;
    font-weight: 900;
}
.temp{
    font-size: 40px;
    cursor: pointer;
}
.type{
    font-size: 20px;
    text-transform: uppercase;
}
.windSpeed{
    cursor: pointer;
}
.northeast{
    transform: rotate(-45deg);
}
.northwest{
    transform: rotate(-135deg);
}
.southeast{
    transform: rotate(45deg);
}
.southwest{
    transform: rotate(135deg);
}


